# -----------------------------------------
# Python
# -----------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pkl
*.log

# Virtualenv
venv/
env/

# Arquivos temporários
*.tmp
*.swp
*.bak

# -----------------------------------------
# IDEs
# -----------------------------------------
# VS Code
.vscode/
.settings/

# PyCharm
.idea/
*.iml

# -----------------------------------------
# Banco de dados
# -----------------------------------------
*.db
*.sqlite
*.sqlite3

# -----------------------------------------
# Environment / Segurança
# -----------------------------------------
.env
.env.*
!.env.example

# Cache
.cache/
.mypy_cache/
.pytest_cache/
__pycache__/

# -----------------------------------------
# Alembic
# -----------------------------------------
alembic/__pycache__/
alembic/versions/__pycache__/
alembic/versions/*.pyc

# SQLite Journal and WAL files
*.sqlite-journal
*.db-journal
*.db-wal
*.db-shm

# -----------------------------------------
# Docker
# -----------------------------------------
*.pid
*.tar
docker-compose.override.yml

# -----------------------------------------
# Logs
# -----------------------------------------
*.log
logs/
log/
